

$couleur-txt-base: #C4C4C4;



// Couleur Différents contenu et le titre " Nos Photographes " // 
$couleur-txt-base2: #901C1C;




// Couleur Titre Nom Photographe // 

$couleur-txt-base4: #D3573C;


// Couleur fonction du photographe // 

$couleur-txt-base5: #0000;


