body {
  font-family: "DM Sans";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a .logofisheye img {
  width: 200px;
  height: 50px;
  margin: 30px 50px;
}

header img {
  width: 250px;
  height: 250px;
}

.infophotographe {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infophotographe .titresection1 {
  display: none;
}

.infophotographe .descriptionphotographe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 80px;
}

.infophotographe .descriptionphotographe .headerphotographe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infophotographe .descriptionphotographe .headerphotographe button {
  width: 120px;
  height: 50px;
  background: #901c1c;
  color: #ffffff;
  border-radius: 11px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 60px;
}

.infophotographe .descriptionphotographe form {
  position: relative;
}

.infophotographe .descriptionphotographe form .nom_artiste {
  font-size: 45px;
  text-align: left;
  margin-left: 10px;
  background: #0000;
}

.infophotographe .descriptionphotographe form .nom_artiste i {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 3px;
  right: 30px;
}

.infophotographe .descriptionphotographe form .form_content #formerror {
  font-size: 16px;
  color: black;
  display: none;
}

.infophotographe .descriptionphotographe form .form_content #formerror2 {
  display: none;
  font-size: 16px;
  color: black;
  display: none;
}

.infophotographe .descriptionphotographe form .form_content #erreur_email {
  font-size: 16px;
  text-align: left;
  display: block;
}

.infophotographe .descriptionphotographe form label {
  display: block;
  text-align: left;
  font-size: 25px;
  margin: 5px 15px;
  padding: 0;
  color: #312e2e;
}

.infophotographe .descriptionphotographe form input {
  width: 92%;
  height: 25px;
  margin-top: 15px;
}

.infophotographe .descriptionphotographe form .msg_input {
  text-align: left;
  padding-top: 10px;
  font-size: 25px;
  color: #312e2e;
}

.infophotographe .descriptionphotographe form textarea {
  width: 95%;
  height: 100px;
  margin-top: 5px;
  resize: none;
}

.infophotographe .descriptionphotographe form .bouton_formulaire {
  width: 120px;
  height: 50px;
  background: #901c1c;
  color: #ffffff;
  border-radius: 11px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.infophotographe .descriptionphotographe .bg-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infophotographe .descriptionphotographe .modal-contents {
  background-color: #db8876;
  width: 500px;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.infophotographe .descriptionphotographe input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.infophotographe h2 {
  margin: 0;
  margin: 2px;
  color: #d3573ccc;
  font-size: 50px;
}

.infophotographe h3 {
  margin: 12px 12px;
}

.infophotographe p {
  margin: 3px 8px;
}

.infophotographe .tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.infophotographe .tag li {
  padding: 2px 6px;
  margin: 15px 2px;
  list-style-type: none;
  height: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 11px;
  color: #901c1c;
  text-align: center;
}

.infophotographe .selectbox label {
  font-size: 15px;
  color: #000;
}

.infophotographe .selectbox #selectorder {
  margin: 55px 10px;
  width: 120px;
  height: 50px;
  background: #901c1c;
  color: #ffffff;
  border-radius: 11px;
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 12px;
}

.lightbox_modal {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  background: white;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.lightbox_modal h2 {
  position: absolute;
  bottom: 100px;
  color: #901c1c;
}

.lightbox_modal .lightbox_contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.lightbox_modal .lightbox_contents img,
.lightbox_modal .lightbox_contents video {
  height: 600px;
  display: none;
  position: absolute;
  z-index: 2;
}

.lightbox_modal .lightbox_controls {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lightbox_modal .lightbox_controls .close_btn {
  font-size: 70px;
  position: absolute;
  bottom: 0px;
  top: 30px;
  color: #901c1c;
  right: 50px;
  cursor: pointer;
}

.lightbox_modal .lightbox_controls .close_btn .opacity_zero {
  opacity: 0;
}

.lightbox_modal .lightbox_controls .previous {
  font-size: 150px;
  position: absolute;
  color: #901c1c;
  left: 50px;
  cursor: pointer;
}

.lightbox_modal .lightbox_controls .previous .opacity_zero {
  opacity: 0;
}

.lightbox_modal .lightbox_controls .next {
  font-size: 150px;
  position: absolute;
  color: #901c1c;
  right: 50px;
  cursor: pointer;
}

.lightbox_modal .lightbox_controls .next .opacity_zero {
  opacity: 0;
}

.clichephotographe {
  width: 20%;
}

.clichephotographe img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.flexartiste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexartiste h3 {
  display: none;
}

.flexartiste .mediaartiste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
}

.flexartiste .mediaartiste img {
  margin-top: 80px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  border-radius: 11px;
}

.flexartiste .mediaartiste .flexdescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexartiste .mediaartiste .flexdescription .artiste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexartiste .mediaartiste .flexdescription .artiste p {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  color: #901c1c;
}

.flexartiste .mediaartiste .flexdescription .artiste p:nth-child(3) {
  padding-right: 30px;
}

.flexartiste .mediaartiste .flexdescription .artiste span {
  font-weight: bold;
  display: inline-block;
  font-size: 22px;
  color: #901c1c;
  margin-left: auto;
  padding-right: 7px;
}

.flexartiste .mediaartiste .flexdescription .artiste i {
  font-size: 25px;
  color: #901c1c;
}

.flexartiste .mediaartiste video {
  margin-top: 80px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  border-radius: 11px;
}

section h3 {
  display: none;
}

section .flexbouton .boutonfixed button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 270px;
  height: 50px;
  border-radius: 5px;
  background: #db8876;
  padding-left: 20px;
}

section .flexbouton .boutonfixed #total_like {
  margin-left: 0px;
}

section .flexbouton .boutonfixed i {
  margin: 0;
  margin-right: auto;
  margin-left: 5px;
}

section .flexbouton .boutonfixed span {
  padding-right: 0px;
}

@media screen and (max-width: 576px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infophotographe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infophotographe .descriptionphotographe {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infophotographe .descriptionphotographe h2 {
    font-size: 25px;
    margin: 0px 60px;
  }
  .infophotographe .descriptionphotographe h3 {
    margin: 10px 70px;
    color: #901c1c;
  }
  .infophotographe .descriptionphotographe .headerphotographe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .infophotographe .descriptionphotographe .headerphotographe button {
    margin: 20px;
  }
  .infophotographe .clichephotographe {
    margin-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infophotographe .clichephotographe .artiste {
    margin-top: 30px;
  }
  .infophotographe .clichephotographe .artiste img {
    margin-right: 50px;
  }
  .flexartiste .mediaartiste {
    width: 100%;
  }
  section .flexbouton .boutonfixed button {
    display: none;
  }
}

@media screen and (max-width: 573px) {
  .clichephotographe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 50px;
  }
  .clichephotographe .artiste {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 546px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infophotographe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infophotographe .descriptionphotographe {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infophotographe .descriptionphotographe h2 {
    font-size: 25px;
    margin: 0px 60px;
  }
  .infophotographe .descriptionphotographe h3 {
    margin: 10px 70px;
    color: #901c1c;
  }
  .infophotographe .descriptionphotographe .headerphotographe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .infophotographe .descriptionphotographe .headerphotographe button {
    margin: 20px;
  }
  .infophotographe .clichephotographe {
    margin-left: 60px;
  }
  .infophotographe .clichephotographe .artiste {
    margin-top: 30px;
  }
  .flexartiste .mediaartiste {
    width: 100%;
  }
  section .flexbouton .boutonfixed button {
    display: none;
  }
}
/*# sourceMappingURL=style2.css.map */